<aside class="w-64 bg-gray-800 text-white min-h-screen">
  <div class="p-4 font-bold text-xl">RBAC System</div>

  <nav>
    <a href="/users" class="block p-4 hover:bg-gray-700">Users</a>
    <a href="/roles" class="block p-4 hover:bg-gray-700">Roles</a>
    <a href="/permissions" class="block p-4 hover:bg-gray-700">Permissions</a>
  </nav>
</aside>